*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.tw-fixed {
  position: fixed !important
}

.tw-z-40 {
  z-index: 40 !important
}

.tw-col-span-2 {
  grid-column: span 2 / span 2 !important
}

.tw-row-span-2 {
  grid-row: span 2 / span 2 !important
}

.tw-m-0 {
  margin: 0px !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-3 {
  margin-bottom: 0.75rem !important
}

.tw-mt-6 {
  margin-top: 1.5rem !important
}

.tw-mb-20 {
  margin-bottom: 5rem !important
}

.tw-mb-4 {
  margin-bottom: 1rem !important
}

.tw-mr-4 {
  margin-right: 1rem !important
}

.tw-mr-3 {
  margin-right: 0.75rem !important
}

.tw-ml-3 {
  margin-left: 0.75rem !important
}

.tw-mr-2 {
  margin-right: 0.5rem !important
}

.tw-mb-5 {
  margin-bottom: 1.25rem !important
}

.tw-mt-9 {
  margin-top: 2.25rem !important
}

.tw-mb-40 {
  margin-bottom: 10rem !important
}

.tw-mt-10 {
  margin-top: 2.5rem !important
}

.tw-mr-5 {
  margin-right: 1.25rem !important
}

.tw-mb-0 {
  margin-bottom: 0px !important
}

.tw-mb-4 {
  margin-bottom: 1rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-0 {
  margin-bottom: 0px !important
}

.tw-mr-4 {
  margin-right: 1rem !important
}

.tw-mb-4 {
  margin-bottom: 1rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-0 {
  margin-bottom: 0px !important
}

.tw-mr-4 {
  margin-right: 1rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-mb-7 {
  margin-bottom: 1.75rem !important
}

.tw-mt-7 {
  margin-top: 1.75rem !important
}

.tw-mt-4 {
  margin-top: 1rem !important
}

.tw-mt-1 {
  margin-top: 0.25rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-flex {
  display: flex !important
}

.tw-grid {
  display: grid !important
}

.tw-contents {
  display: contents !important
}

.tw-hidden {
  display: none !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-\[50\%\] {
  height: 50% !important
}

.tw-h-fit {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important
}

.tw-h-96 {
  height: 24rem !important
}

.tw-h-52 {
  height: 13rem !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-\[100\%\] {
  height: 100% !important
}

.tw-h-\[50\%\] {
  height: 50% !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-\[50\%\] {
  height: 50% !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-\[50\%\] {
  height: 50% !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-screen {
  width: 100vw !important
}

.tw-w-2\/4 {
  width: 50% !important
}

.tw-w-10 {
  width: 2.5rem !important
}

.tw-w-12 {
  width: 3rem !important
}

.tw-w-52 {
  width: 13rem !important
}

.tw-w-36 {
  width: 9rem !important
}

.tw-w-48 {
  width: 12rem !important
}

.tw-w-32 {
  width: 8rem !important
}

.tw-w-24 {
  width: 6rem !important
}

.tw-w-28 {
  width: 7rem !important
}

.tw-w-2\/4 {
  width: 50% !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-48 {
  width: 12rem !important
}

.tw-w-28 {
  width: 7rem !important
}

.tw-w-2\/4 {
  width: 50% !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-48 {
  width: 12rem !important
}

.tw-w-28 {
  width: 7rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[50\%\] {
  width: 50% !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[-webkit-fill-available\] {
  width: -webkit-fill-available !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[-webkit-fill-available\] {
  width: -webkit-fill-available !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[-webkit-fill-available\] {
  width: -webkit-fill-available !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[-webkit-fill-available\] {
  width: -webkit-fill-available !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-w-96 {
  width: 24rem !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-4 {
  width: 1rem !important
}

.tw-w-1 {
  width: 0.25rem !important
}

.tw-w-\[-webkit-fill-available\] {
  width: -webkit-fill-available !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-min-w-\[70\%\] {
  min-width: 70% !important
}

.tw-min-w-\[60\%\] {
  min-width: 60% !important
}

.tw-flex-auto {
  flex: 1 1 auto !important
}

.tw-cursor-pointer {
  cursor: pointer !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important
}

.tw-items-end {
  align-items: flex-end !important
}

.tw-items-center {
  align-items: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-gap-7 {
  gap: 1.75rem !important
}

.tw-gap-20 {
  gap: 5rem !important
}

.tw-gap-7 {
  gap: 1.75rem !important
}

.tw-gap-y-12 {
  row-gap: 3rem !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-overflow-y-auto {
  overflow-y: auto !important
}

.tw-overflow-x-hidden {
  overflow-x: hidden !important
}

.tw-rounded-lg {
  border-radius: 0.5rem !important
}

.tw-rounded-md {
  border-radius: 0.375rem !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-0 {
  border-width: 0px !important
}

.tw-border-2 {
  border-width: 2px !important
}

.tw-border-y-0 {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important
}

.tw-border-x-0 {
  border-left-width: 0px !important;
  border-right-width: 0px !important
}

.tw-border-l-0 {
  border-left-width: 0px !important
}

.tw-border-t-0 {
  border-top-width: 0px !important
}

.tw-border-b {
  border-bottom-width: 1px !important
}

.tw-border-dotted {
  border-style: dotted !important
}

.tw-border-none {
  border-style: none !important
}

.tw-border-transparent {
  border-color: transparent !important
}

.tw-border-red-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important
}

.tw-border-gray-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(156 163 175 / var(--tw-border-opacity)) !important
}

.tw-border-prim-blue {
  --tw-border-opacity: 1 !important;
  border-color: rgb(48 71 94 / var(--tw-border-opacity)) !important
}

.tw-border-transparent {
  border-color: transparent !important
}

.tw-border-b-black {
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-slate-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 40 49 / var(--tw-bg-opacity)) !important
}

.tw-bg-green-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity)) !important
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-blue {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-red {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.tw-bg-prim-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important
}

.tw-bg-none {
  background-image: none !important
}

.tw-p-4 {
  padding: 1rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important
}

.tw-py-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important
}

.tw-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.tw-py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important
}

.tw-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.tw-pt-0 {
  padding-top: 0px !important
}

.tw-text-left {
  text-align: left !important
}

.tw-text-center {
  text-align: center !important
}

.tw-text-right {
  text-align: right !important
}

.tw-align-middle {
  vertical-align: middle !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-\[16px\] {
  font-size: 16px !important
}

.tw-text-\[14px\] {
  font-size: 14px !important
}

.tw-text-\[12px\] {
  font-size: 12px !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important
}

.tw-text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(239 68 68 / var(--tw-text-opacity)) !important
}

.tw-text-prim-blue {
  --tw-text-opacity: 1 !important;
  color: rgb(48 71 94 / var(--tw-text-opacity)) !important
}

.tw-text-green-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(21 128 61 / var(--tw-text-opacity)) !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-blue {
  --tw-text-opacity: 1 !important;
  color: rgb(48 71 94 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-blue {
  --tw-text-opacity: 1 !important;
  color: rgb(48 71 94 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-text-prim-white {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.tw-text-prim-red {
  --tw-text-opacity: 1 !important;
  color: rgb(240 84 84 / var(--tw-text-opacity)) !important
}

.tw-text-prim-black {
  --tw-text-opacity: 1 !important;
  color: rgb(34 40 49 / var(--tw-text-opacity)) !important
}

.tw-outline-none {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important
}

.tw-transition-all {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}

.hover\:tw-bg-prim-black:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 40 49 / var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-red-700:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-prim-blue:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(48 71 94 / var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-gray-600:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-prim-black:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 40 49 / var(--tw-bg-opacity)) !important
}

.hover\:tw-text-prim-white:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.focus\:tw-border-b-2:focus {
  border-bottom-width: 2px !important
}

.focus\:tw-border-red-500:focus {
  --tw-border-opacity: 1 !important;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important
}

.focus\:tw-text-prim-white:focus {
  --tw-text-opacity: 1 !important;
  color: rgb(232 232 232 / var(--tw-text-opacity)) !important
}

.disabled\:tw-bg-prim-red:disabled {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 84 84 / var(--tw-bg-opacity)) !important
}

.disabled\:tw-bg-gray-500:disabled {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important
}

@media (min-width: 768px) {
  .md\:tw-col-span-1 {
    grid-column: span 1 / span 1 !important
  }

  .md\:tw-mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px !important
  }

  .md\:tw-ml-auto {
    margin-left: auto !important
  }

  .md\:tw-mt-0 {
    margin-top: 0px !important
  }

  .md\:tw-mr-3 {
    margin-right: 0.75rem !important
  }

  .md\:tw-ml-7 {
    margin-left: 1.75rem !important
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px !important
  }

  .md\:tw-ml-auto {
    margin-left: auto !important
  }

  .md\:tw-mt-0 {
    margin-top: 0px !important
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px !important
  }

  .md\:tw-ml-auto {
    margin-left: auto !important
  }

  .md\:tw-mt-0 {
    margin-top: 0px !important
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px !important
  }

  .md\:tw-block {
    display: block !important
  }

  .md\:tw-flex {
    display: flex !important
  }

  .md\:tw-hidden {
    display: none !important
  }

  .md\:tw-h-full {
    height: 100% !important
  }

  .md\:tw-w-fit {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important
  }

  .md\:tw-w-3\/4 {
    width: 75% !important
  }

  .md\:tw-w-fit {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important
  }

  .md\:tw-flex-auto {
    flex: 1 1 auto !important
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important
  }

  .md\:tw-gap-y-20 {
    row-gap: 5rem !important
  }

  .md\:tw-overflow-x-hidden {
    overflow-x: hidden !important
  }
}

@media (min-width: 1024px) {
  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important
  }

  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important
  }

  .lg\:tw-px-20 {
    padding-left: 5rem !important;
    padding-right: 5rem !important
  }
}